<template>
<q-page padding>
    <q-card
      flat
      bordered
      absolute-center
      class="my-card"
    >
      <q-card-section>
      <div class="text-h6">Login</div>
      <div class="text-subtitle2">Masukkan username dan password</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div style="max-width:300px;">
          <div class="q-pa-md q-gutter-sm">
          <q-input dense outlined v-model="form.email" label="Email" />
          <q-input dense outlined v-model="form.password" label="Password" />
          <div style="height:30px">&nbsp;</div>
          <q-btn @click="onsubmit" outline color="white" text-color="black" label="Login" />
         </div>
        </div>
      </q-card-section>

    </q-card>
</q-page>
</template>

<script>
import { reactive } from 'vue'
// import { api } from 'src/boot/axios'
// import { Notify, useQuasar } from 'quasar'

export default {
  name: 'Login2',
  setup () {
    const form = reactive({
      email: '',
      password: ''
    })

    onsubmit(() => {
      const postData = {
        email: this.form.email,
        password: this.form.password
      }

      const addHeaders = {
        headers: {
          'Content-Type': 'application/json',
          'Access-Control-Allow-Origin': '*'
        }
      }
      this.api.post('/api/login', postData, addHeaders)
        .then((result) => {
          console.log(result)
        }).catch((err) => {
          console.log(err)
        })
        .catch((error) => {
          if (error) {
            console.log(error)
          }
        })
    })

    return {
      form, onsubmit
    }
  }
}
</script>
