<template>
  <q-page padding>
    <q-card
      flat
      bordered
      absolute-center

      class="my-card"
    >
      <q-card-section>
      <div class="text-h6">Login</div>
      <div class="text-subtitle2">Masukkan username dan password</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div style="max-width:300px;">
          <div class="q-pa-md q-gutter-sm">
          <q-input dense outlined v-model="form.email" label="Email" />
          <q-input dense outlined v-model="form.password" label="Password" />
          <div style="height:30px">&nbsp;</div>
          <q-btn @click="onsubmit" outline color="white" text-color="black" label="Login" />
          </div>
        </div>
      </q-card-section>

    </q-card>
  </q-page>
</template>

<script>
import { Notify } from 'quasar'

export default {
  name: 'Login',
  data () {
    return {
      form: {
        email: null,
        password: null
      }
    }
  },
  methods: {
    onsubmit () {
      const postData = {
        email: this.form.email,
        password: this.form.password
      }

      const addHeaders = {
        headers: {
          'Content-Type': 'application/json',
          'Access-Control-Allow-Origin': '*'
        }
      }
      this.$api.post('/api/login', postData, addHeaders)
        .then((res) => {
          // console.log(res.data)
          if (res.data.token !== null || res.data.token !== undefined) {
            this.$q.notify({
              timeout: 2000,
              color: 'positive',
              message: 'Anda Berhasil login'
            })
            this.$q.localStorage.set('datauser', res.data)
            // this.$q.localStorage.set(res.data.profile.id, res.data)
            this.$router.push('/')
          }
        })
        .catch(function (error) {
          if (error) {
            Notify.create({
              timeout: 2000,
              position: 'center',
              color: 'negative',
              icon: 'ion-close',
              message: 'Email atau password ada tidak sesuai (' + error + ')'
            })
          }
        })
    }
  }
  // setup () {
  //   const login = () => {
  //     localStorage.setItem('authenticated', true)
  //     routes.push({ name: 'home' })
  //   }

  //   return { login }
  // }

}
</script>
