<template>
  <q-page padding>
    <q-card
      flat
      bordered
      absolute-center

      class="my-card"
    >
      <q-card-section>
      <div class="text-h6">Daftar Anggota</div>
      <div class="text-subtitle2">Masukkan username dan password</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        <div style="max-width:300px;">
          <div class="q-pa-md q-gutter-sm">
          <q-input dense outlined v-model="form.name" label="Nama" />
          <q-input dense outlined v-model="form.email" label="Email" />
          <q-input dense outlined v-model="form.password" label="Kata Sandi" />
          <q-input dense outlined v-model="form.c_password" label="Konfirmasi Pasword" />
          <div style="height:30px">&nbsp;</div>
          <q-btn @click="onsubmit" outline color="white" text-color="black" label="Registrasi" />
          </div>
        </div>
      </q-card-section>

    </q-card>
  </q-page>
</template>

<script>

export default {
  name: 'register',
  data () {
    return {
      form: {
        name: null,
        email: null,
        password: null,
        c_password: null
      },
      accept: false
    }
  },
  methods: {
    onsubmit () {
      this.$api.post('/api/register', {
        name: this.form.name,
        email: this.form.email,
        password: this.form.password,
        c_password: this.form.c_password
      })
        .then((res) => {
          if (res.data.success.name === null || res.data.success.name === undefined) {
            this.$q.notify({
              color: 'negative',
              message: 'Registrasi gagal.',
              icon: 'ion-close'
            })
          } else {
            this.$q.notify({
              color: 'positive',
              message: 'Selamat Datang ' + res.data.success.name + ' Registrasi anda berhasil.',
              icon: 'ion-close'
            })
            this.$router.push('/auth')
          }
        })
        .catch(function (error) {
          console.log(error.res.status)
          console.log(error.res.data.error)
        })
    }
  }
}
</script>
