<template>
  <q-page padding>
    <Menu />
    <hr>
    halaman About
  </q-page>
</template>

<script>
import Menu from 'src/components/Menu.vue'
export default {
  name: 'about',
  components: { Menu }
}
</script>
