<template>
  <q-page padding>
    {{ nilai }}
    <hr />
    {{ hasil }}
    <hr />
    <q-btn @click="tambah">add</q-btn>
  </q-page>
</template>

<script>
import { ref, reactive, computed, toRefs } from 'vue'
export default {
  name: 'ComputedGet',
  setup () {
    const count = reactive({
      nilai: 0
    })
    const addNum = ref(1)

    const tambah = () => {
      hasil.value = 100
      count.nilai++
    }

    const hasil = computed({
      get: () => count.nilai * addNum.value,
      set: (val) => (addNum.value = val)
    })

    return { ...toRefs(count), tambah, addNum, hasil }
  }
}
</script>
