<template>
  <q-page padding>
    {{ nilai }}
    <hr />
    {{ hasil }}
    <hr />
    <q-btn @click="tambah">add</q-btn>
  </q-page>
</template>

<script>
import { ref, reactive, computed, toRefs } from 'vue'
export default {
  name: 'Computed',
  setup () {
    const count = reactive({
      nilai: 0
    })
    const addNum = ref(1)

    const tambah = () => {
      count.nilai++
    }

    const hasil = computed(() => count.nilai + addNum.value)

    return { ...toRefs(count), tambah, addNum, hasil }
  }
}
</script>
