<template>
  <q-page padding>
    <Menu></Menu>
    <hr>
    halaman home
  </q-page>
</template>

<script>
import Menu from 'src/components/Menu.vue'
export default {
  name: 'Home',
  components: { Menu }
}
</script>
