<template>
  <div>
    <UserComponent :label="label" :user="user"></UserComponent>
  <q-btn @click="changeName"> Change Name </q-btn>
  </div>
</template>

<script>
import { ref, reactive } from 'vue'
import UserComponent from '../components/UserComponent.vue'

export default {
  setup () {
    const label = ref('biodata')
    const user = reactive({
      name: 'tony',
      age: 25
    })

    const changeName = () => {
      user.name = 'achasza'
    }

    return {
      label,
      user,
      changeName
    }
  },
  components: { UserComponent }
}
</script>
