<template>
  <div>
    <UserComponent
    :label="label"
    :user="user"
    class="active"
    blalball="testtt"
    @submit="onSubmit"
    >
      <div>ini slot</div>
    </UserComponent>
  <q-btn @click="changeName"> Change Name </q-btn>
  {{ test }}
  </div>
</template>

<script>
import { ref, reactive } from 'vue'
import UserComponent from '../components/UserComponent.vue'

export default {
  setup () {
    const label = ref('biodata')
    const user = reactive({
      name: 'tony',
      age: 25
    })

    const changeName = () => {
      user.name = 'achasza'
    }

    const test = ref('')

    const onSubmit = (val) => {
      test.value = val
    }

    return {
      label,
      user,
      changeName,
      onSubmit,
      test
    }
  },
  components: { UserComponent }
}
</script>
