<template>
  <q-page padding>
    {{ nilai }}
    <q-btn @click="add">add</q-btn>
  </q-page>
</template>

<script>
import { reactive, toRefs } from 'vue'
export default {
  name: 'MethodeDua',
  setup () {
    const counter = reactive({
      nilai: 0
    })

    const add = () => {
      counter.nilai++
    }
    return { add, ...toRefs(counter) }
  }
}
</script>
