<template>
  <q-page padding>
    {{ counter }}
    <q-btn flat dense bordered @click="tambah">add</q-btn>
  </q-page>
</template>

<script>
import { ref } from 'vue'

export default {
  name: 'Methode',
  setup () {
    const counter = ref(0)
    const tambah = () => {
      counter.value++
    }

    return { counter, tambah }
  }
}
</script>
