<template>
<div></div>
<table border="1" >
  <thead>
    <tr>
    <td>#id</td>
    <td>Nip</td>
    <td>Name</td>
    <td>No. Rekening</td>
    <td>Cabang</td>
    <td>Metode</td>
    <td>Nama Bank</td>
    <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr v-for="post in posts" :key="post.id">
      <td>{{ post.id }}</td>
      <td>{{ post.nip }}</td>
      <td>{{ post.account_name }}</td>
      <td>{{ post.account_no }}</td>
      <td>{{ post.branch }}</td>
      <td>{{ post.pay_method }}</td>
      <td>{{ post.sys_tmst_bank_id }}</td>
      <td><q-btn flat dense to="/home">edit </q-btn> | <q-btn flat dense>delete</q-btn></td>
    </tr>
  </tbody>
</table>
</template>

<script>
import { onMounted, ref } from 'vue'
// import { api } from 'src/boot/axios'
import axios from 'axios'

export default {
  setup () {
    const posts = ref([])
    onMounted(() => {
      // api.get('/api/user-permissions/1')
      axios.get('http://klola-dvl-api.test/api/emp/bank-account')
        .then((result) => {
          posts.value = result.data.data
        }).catch((err) => {
          console.log(err.response)
        })
    })

    return {
      posts
    }
  }
}
</script>
