<template>
  <div class="q-pa-md">
    <q-table
      flat
      dense
      title="Group User"
      row-key="id"
      :loading="loading"
      :rows="rows"
      :columns="columns"
      v-model:pagination="pagination"
      @request="handleRequest"
    >

      <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
          <template v-slot:append>
            <q-icon  name="search"/>
          </template>
        </q-input>
        <div style="width:30px;"></div>
        <q-btn size="18px" color="primary" flat dense icon="post_add" ></q-btn>
        <div style="border-bottom:1px solid red; width:max-content;"></div>
      </template>
      <template #loading>
        <q-inner-loading showing color="secondary"/>
      </template>
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.label }}
          </q-th>
          <q-th auto-width>
            Action
          </q-th>
        </q-tr>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
          <q-td auto-width>
            <q-btn color="secondary" dense flat icon="mode_edit" @click="edit(props.row.id)"></q-btn>
            <q-btn dense flat icon="delete_outline" @click="confirm(props.row)"></q-btn>
          </q-td>
        </q-tr>
      </template>
    </q-table>

  </div>
</template>

<script>

import { useQuasar } from 'quasar'
import { ref, onMounted } from 'vue'
import axios from 'axios'

const columns = [
  {
    name: 'id',
    required: true,
    label: '#',
    align: 'left',
    field: row => row.id,
    sortable: true
  },
  { name: 'name', align: 'left', label: 'Name', field: 'name', sortable: true },
  { name: 'guard_name', align: 'left', label: 'Guard Name', field: 'guard_name', sortable: true },
  { name: 'created_at', align: 'left', label: 'Created At', field: 'created_at', sortable: true },
  { name: 'updated_at', align: 'left', label: 'Updated At', field: 'updated_at', sortable: true }
]

const rows = ref([])
const errors = []

export default {
  setup () {
    const $q = useQuasar()
    const pagination = ref({
      // sortBy: 'id',
      // descending: false,
      filter: '',
      page: 1,
      rowsPerPage: 10
    })

    const edit = (id) => {
      console.log(id)
    }
    /*
    watch: {
      filter(value) {
        this.doSearch(value);
      }
    }

    const doSearch = (value) => {
        axios
        .get('http://147.139.178.153:5132/api/privileges/roles' + this.search)
        .then((response) => {this.names = response.data})
        .catch(e => console.log(e))
      }
    }
    */
    const loading = ref(true)

    const confirm = (row) => {
      $q.dialog({
        title: 'Confirm',
        message: 'Apakah anda yakin akan menghapus data :  <span class="text-red">' + row.account_name + '</span> ?',
        cancel: true,
        persistent: true,
        html: true
      }).onOk(() => {
        const token = this.$q.localStorage.getItem('datauser').token
        const addHeaders = {
          headers: {
            Authorization: 'Bearer ' + token
          }
        }
        this.$api.delete('/api/privileges/role/' + row.id, addHeaders)
          .then((res) => {
            if (res.data.status === true) {
              $q.notify({
                color: 'positive',
                message: res.data.message,
                icon: 'ion-close'
              })
              this.getData()
            } else {
              $q.notify({
                color: 'positive',
                message: 'Data gagal dihapus',
                icon: 'ion-close'
              })
            }
          })
          .catch(function (error) {
            if (error.response.status === 422) {
              errors.value = error.response.data.name
              console.log(errors)
            }
          })
      })
    }

    const getData = (page = 0) => {
      const token = $q.localStorage.getItem('datauser').token
      const addHeaders = {
        headers: {
          Authorization: 'Bearer ' + token
        }
      }
      axios.get('http://147.139.178.153:5132/api/privileges/roles', addHeaders, {
      // this.$api.get('http://147.139.178.153:5132/api/privileges/roles', {
      // this.$api.get('/api/privileges/roles', {
      // axios.get('http://klola-dvl-api.test/api/emp/bank-account', {
        params: { page: page }
      }
      )
        .then((result) => {
          rows.value = result.data.data.data
          const meta = result.data.data
          pagination.value.page = meta.current_page
          pagination.value.rowsPerPage = meta.per_page
          pagination.value.rowsNumber = meta.total
        }).finally(() => {
          loading.value = false
        })
        .catch((err) => {
          console.log(err)
        })
    }
    const handleRequest = (props) => {
      getData(props.pagination.page)
      loading.value = true
    }
    onMounted(() => {
      getData()
    })
    return {
      columns,
      rows,
      edit,
      confirm,
      getData,
      loading,
      pagination,
      handleRequest
    }
  }
}
</script>
