<template>
  <q-page padding>

    <div v-for="data in user" :key="data.name">
      {{ data.name }}, {{ data.age }}
    </div>

    {{ var1 }}

  </q-page>
</template>

<script>
import { reactive } from 'vue'

export default {
  name: 'Vfor',
  setup () {
    const user = reactive([
      {
        name: 'tony',
        age: '40'
      },
      {
        name: 'naia',
        age: '12'
      }
    ])

    const var1 = 'test variable'

    // setTimeout(() => {
    //   user.name = 'yeee'
    // }, 2000)

    return { user, var1 }
  }
}
</script>
