<template>
  <q-item to="/home">home</q-item>
  <q-item to="/about">about</q-item>
  <q-item to="/contact">contact</q-item>
  <q-item to="/auth">login</q-item>
  <q-item @click="logout" to="#">logout</q-item>
</template>

<script>
import { route } from 'quasar/wrappers'
export default {
  name: 'Menu',
  setup () {
    const logout = () => {
      localStorage.setItem('authenticated', false)
      route.push({ name: 'login' })
    }
    return { logout }
  }
}
</script>
