<template>
  <q-page padding>
  <div>
    {{ label }} :  {{ user.name }}
    <hr>
    {{ description }}
    <q-btn @click="submit"> clik emit</q-btn>
    <slot></slot>
  </div>
  </q-page>
</template>
<script>
import { toRefs, computed, onMounted } from 'vue'

export default {
  props: {
    label: {
      type: String,
      default: ''
    },
    user: {
      user: Object,
      default: () => {}
    }
  },
  setup (props, { attrs, slots, emit }) { // props dam context
    const { label, user } = toRefs(props)
    // console.log(label.value)
    // console.log(user.value.name)
    const description = computed(() => {
      return `${label.value} : ${user.value.name}`
    })

    onMounted(() => {
      console.log(attrs)
      console.log(slots)
      console.log(emit)
    })

    const submit = () => {
      emit('submit', 'ini dari emit user componen')
    }

    return {
      description, submit
    }
  }
}
</script>
