<template>
  <div class="q-pa-md">
    <q-table
      flat
      dense
      title="Group User"
      :rows="rows"
      :columns="columns"
      row-key="id"
    >
    <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
          <template v-slot:append>
            <q-icon  name="search"/>
          </template>
        </q-input>

        <div style="width:30px;"></div>
        <q-btn size="18px" color="primary" flat dense icon="post_add" @click="onNew()"></q-btn>
        <div style="border-bottom:1px solid red; width:max-content;"></div>

    <q-search
  v-model="searchModel"
  :debounce="600"
  placeholder="Nama"
  icon="local_hotel"
  float-label="What is your username?"
/>
   </template>

    <template v-slot:body-cell-actions="props">
      <q-td :props="props">
        <q-btn icon="mode_edit" @click="onEdit(props.row)" dense flat color="secondary"></q-btn>
        <q-btn icon="delete_outline" @click="onShowDelete(props.row)" dense flat></q-btn>
      </q-td>
    </template>

  </q-table>

   <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="close" color="primary" text-color="white" />
          <span class="q-ml-sm">Apakah Anda yakin akan menghapus data "{{ this.$data.currLabel }}" ?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Delete" @click="onDelete(this.$data.currID)"  color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { ref } from 'vue'

const columns = [
  {
    id: 'id',
    required: true,
    label: '#ID',
    align: 'left',
    field: 'id',
    sortable: true
  },
  { name: 'name', align: 'left', label: 'Name', field: 'name', sortable: true },
  { name: 'guard_name', align: 'left', label: 'Guard Name', field: 'guard_name', sortable: true },
  { name: 'created_at', align: 'left', label: 'Created At', field: 'created_at', sortable: true },
  { name: 'updated_at', align: 'left', label: 'Updated At', field: 'updated_at', sortable: true },
  { name: 'actions', align: 'center', label: '', field: 'actions' }
]

const rows = []
const errors = []

export default {
  name: 'Roles',
  data () {
    return {
      data: [],
      columns,
      rows,
      currLabel: '',
      currID: '',
      searchModel: '',
      confirm: ref(false)
    }
  },
  methods: {
    getData () {
      const token = this.$q.localStorage.getItem('datauser').token
      const addHeaders = {
        headers: {
          Authorization: 'Bearer ' + token
        }
      }
      this.$api.get('/api/privileges/roles', addHeaders)
        .then(response => (this.rows = response.data.data.data))
    },
    /*
    onSearch () {
      const token = this.$q.localStorage.getItem('datauser').token
      const addHeaders = {
        headers: {
          Authorization: 'Bearer ' + token
        }
      }
      console.log(this.search)
      this.$api.get('/api/privileges/roles/search?filter[name]=' + this.search, addHeaders)
        .then(response => (this.rows = response.data.data.data))
    },
    */
    onNew () {
      this.$router.push('/roles/new')
    },
    onEdit (data) {
      this.$router.push('/roles/edit/' + data.id)
    },
    onShowDelete (rowdata) {
      this.confirm = true
      this.currLabel = rowdata.name
      this.currID = rowdata.id
    },
    onDelete (tmpid) {
      const token = this.$q.localStorage.getItem('datauser').token
      const addHeaders = {
        headers: {
          Authorization: 'Bearer ' + token
        }
      }
      this.$api.delete('/api/privileges/role/' + tmpid, addHeaders)
        .then((res) => {
          if (res.data.status === true) {
            this.$q.notify({
              color: 'positive',
              message: res.data.message,
              icon: 'ion-close'
            })
            this.getData()
          } else {
            this.$q.notify({
              color: 'positive',
              message: 'Data gagal dihapus',
              icon: 'ion-close'
            })
          }
        })
        .catch(function (error) {
          if (error.response.status === 422) {
            errors.value = error.response.data.name
            console.log(errors)
          }
        })
    }
  },
  mounted () {
    this.getData()
  }
}
</script>
