<template>
    <q-card
      flat
      absolute-center

      class="my-card"
    >
      <q-card-section>
      <div class="text-h6">Roles</div>
      <div class="text-subtitle2">&nbsp;</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <div style="max-width:300px;">
          <div class="q-pa-md q-gutter-sm">
          <q-input dense outlined v-model="form.name" label="Nama" />
          <div style="height:30px;"></div>
          <q-btn @click="onsubmit" outline color="white" text-color="black" label="Submit" />
          </div>
        </div>
      </q-card-section>
    </q-card>
</template>

<script>
// import axios from 'axios'

// const validationErrors = ''
const errors = []

export default {
  name: 'RoleNew',
  data () {
    return {
      form: {
        name: null
      }
    }
  },
  methods: {
    onsubmit () {
      const postData = {
        name: this.form.name
      }
      const token = this.$q.localStorage.getItem('datauser').token
      const addHeaders = {
        headers: {
          Authorization: 'Bearer ' + token
        }
      }
      this.$api.post('/api/privileges/roles', postData, addHeaders)
        .then((res) => {
          if (res.data.status === true) {
            this.$q.notify({
              color: 'positive',
              message: res.data.message,
              icon: 'ion-close'
            })
            this.$router.push('/roles')
          } else {
            this.$q.notify({
              color: 'positive',
              message: 'Data gagal diinput',
              icon: 'ion-close'
            })
          }
        })
        .catch(function (error) {
          if (error.response.status === 422) {
            errors.value = error.response.data.name
            console.log(errors)
          }
        })
    }
  }
}
</script>
